/* CSS File */

@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  width:100%;
  overflow-x:hidden;
}

.all {
  background-color: black;
}

.paragraph {
  position: absolute;
  width: 1300px;
  font-size: 150px;
  color: #1e90ff;
  margin-left: 70%;
  margin-top: 50%;
  font-family: "Audiowide", cursive;
}
.paragraph:hover a,
.paragraph:hover {
  color: white;
}
.paragraph_two {
  position: absolute;
  width: 1300px;
  font-size: 75px;
  color: #1e90ff;
  margin-left: 70%;
  margin-top: -30%;
  font-family: "Audiowide", cursive;
}
.paragraph_two:hover a,
.paragraph_two:hover {
  color: white;
}

.para2 {
  position: absolute;
  font-size: 75px;
  margin-top: -234%;
  color: #1e90ff;
  font-family: "Audiowide", cursive;
}

.para3 {
  position: absolute;
  font-size: 75px;
  margin-top: -115%;
  color: #1e90ff;
  font-family: "Audiowide", cursive;
}

.para4 {
  position: absolute;
  font-size: 75px;
  margin-top: -50%;
  color: #1e90ff;
  font-family: "Audiowide", cursive;
}

.para1 {
  position: absolute;
  font-size: 75px;
  margin-top: -180%;
  color: #1e90ff;
  font-family: "Audiowide", cursive;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.text_box {
  position: absolute;
  top: 260px;
  left: 600px;
  color: black;
}
.boxes {
  overflow: hidden;
}

.first_image {
  background-image: url("https://i.postimg.cc/zBPJ9qFm/annie-spratt-wgivdx9d-Bd-Q-unsplash.jpg");
  position: relative;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.self_image {
  position: absolute;
  border: 5px solid #1e90ff;
  margin-left: 160%;
  margin-top: 170%;
  border-radius: 20%;
}

.self_image:hover a,
.self_image:hover {
  border: 5px solid #cec8ef;
}

.intro {
  position: absolute;
  margin-left: 10%;
  margin-top: 170%;
  border-radius: 10%;
  border: 5px solid #1e90ff;
}

.info {
  border: 5px solid #cec8ef;
}

.intro:hover a,
.intro:hover {
  border: 5px solid #cec8ef;
}

.second_image {
  background-image: url("https://i.postimg.cc/nL0zY04d/ruben-ramirez-xh-KG01-FN2uk-unsplash.jpg");
  position: relative;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third_image {
  background-image: url("https://i.postimg.cc/zBPJ9qFm/annie-spratt-wgivdx9d-Bd-Q-unsplash.jpg");
  position: relative;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box1,
.box2,
.box3,
.box4 {
  margin-right: 280px;
  width: 10px;
  height: 50px;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
}

.list-item {
  text-decoration: none;
  font-family: "Monoton", cursive;
  font-size: 2em;
  font-weight: 900;
  color: #1e90ff;
}

.box1:hover a,
.box1:hover {
  color: white;
}
.box2:hover a,
.box2:hover {
  color: white;
}

.box3:hover a,
.box3:hover {
  color: white;
}

.box4:hover a,
.box4:hover {
  color: white;
}

.holder {
  width: 800px;
  height: 300px;
  border: 5px solid #1e90ff;
  margin-top: 55%;
  background-color: white;
  font-family: "Audiowide", cursive;
  border-radius: 15%;
}

.holder:hover a,
.holder:hover {
  border: 1px solid white;
}
.holder2:hover a,
.holder2:hover {
  border: 1px solid white;
}
.holder3:hover a,
.holder3:hover {
  border: 1px solid white;
}

.holder2 {
  width: 800px;
  height: 300px;
  border: 5px solid #1e90ff;
  background-color: white;
  font-family: "Audiowide", cursive;
  border-radius: 15%;
}

.holder3 {
  width: 800px;
  height: 300px;
  border: 5px solid#1e90ff;
  background-color: white;
  font-family: "Audiowide", cursive;
  border-radius: 15%;
}

.resume {
  width: 850px;
  height: 700px;
  margin-top: 230%;
  border: 3px solid#1e90ff;
  background-color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 1.5em;
  border-radius: 10%;
}


.resume1 {
  width: 850px;
  height: 700px;
  margin-top: -82.5%;
  margin-left: 900px;
  border: 3px solid#1e90ff;
  background-color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 1.5em;
  border-radius: 10%;
}

.resume:hover a,
.resume:hover {
  border: 1px solid white;
}

.resume1:hover a,
.resume1:hover {
  border: 1px solid white;
}


.format0 {
  color: #1e90ff;
  font-size: 1.2em;
}
.format1 {
  color: #1e90ff;
  font-size: .5em;
}
.format2 {
  color: #1e90ff;
  font-size: 1em;
}

.format3 {
  color: black;
  font-family: "Libre Baskerville", serif;
  font-size: .7em;
}



.format3 {
}

.btn {
  width: 100px;
  height: 45px;
  background-color: #1e90ff;
  color: white;
  margin-left: 15px;
  font-family: "Audiowide", cursive;
  font-size: 0.8em;
  border-radius: 50%;
}

.btn:hover a,
.btn:hover {
  color: #1e90ff;
  background-color: white;
  border: 1px solid#1e90ff;
}

.btn-two {
  width: 150px;
  height: 75px;
  background-color: #1e90ff;
  color: white;
  margin-left: 15px;
  font-family: "Audiowide", cursive;
  font-size: 0.8em;
  border-radius: 50%;
}

.btn-two:hover a,
.btn-two:hover {
  color: #1e90ff;
  background-color: white;
  border: 1px solid#1e90ff;
}

h1::first-line {
  color: #1e90ff;
}
