/* CSS File */

@font-face {
  font-family: "Bitstream Vera Serif Bold";
  src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  width:100%;
  overflow-x:hidden;
}

.all {
  background-color: black;
}

.paragraph {
  position: absolute;
  width: 1300px;
  font-size: 150px;
  color: #1e90ff;
  margin-left: 40%;
  margin-top: 50%;
  font-family: "Audiowide", cursive;
  background-color: white;
  border-radius: 20%;
}
.paragraph:hover a,
.paragraph:hover {
  color: white;
  background-color: #1e90ff;
}
.paragraph_two {
  position: absolute;
  width: 1300px;
  font-size: 75px;
  color: #1e90ff;
  margin-left: 40%;
  margin-top: -30%;
  font-family: "Audiowide", cursive;
  background-color: white;
  border-radius: 20%;
}
.paragraph_two:hover a,
.paragraph_two:hover {
  color: white;
  background-color: #1e90ff;
}

.para2 {
  position: absolute;
  font-size: 75px;
  margin-top: -234%;
  color: #1e90ff;
  font-family: "Audiowide", cursive;
}

.para3 {
  position: absolute;
  font-size: 75px;
  margin-top: -115%;
  color: #1e90ff;
  font-family: "Audiowide", cursive;
}

.para4 {
  position: absolute;
  font-size: 75px;
  margin-top: -50%;
  color: #1e90ff;
  font-family: "Audiowide", cursive;
}

.para5 {
  position: absolute;
  font-size: 75px;
  margin-top: -40%;
  color: #1e90ff;
  font-family: "Audiowide", cursive;
}

.para1 {
  position: absolute;
  font-size: 75px;
  margin-top: -180%;
  color: #1e90ff;
  font-family: "Audiowide", cursive;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.text_box {
  position: absolute;
  top: 260px;
  left: 600px;
  color: black;
}
.boxes {
  overflow: hidden;
}

.first_image {
  background-image: url("https://i.postimg.cc/zBPJ9qFm/annie-spratt-wgivdx9d-Bd-Q-unsplash.jpg");
  position: relative;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.self_image {
  position: absolute;
  border: 5px solid #1e90ff;
  margin-left: 130%;
  margin-top: 160%;
  border-radius: 20%;
}

.self_image:hover a,
.self_image:hover {
  border: 5px solid #cec8ef;
}

.intro {
  position: absolute;
  margin-left: 10%;
  margin-top: 170%;
  border-radius: 10%;
  border: 5px solid #1e90ff;
}

.info {
  border: 5px solid #cec8ef;
}

.intro:hover a,
.intro:hover {
  border: 5px solid #cec8ef;
}

.second_image {
  background-image: url("https://i.postimg.cc/nL0zY04d/ruben-ramirez-xh-KG01-FN2uk-unsplash.jpg");
  position: relative;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.third_image {
  background-image: url("https://i.postimg.cc/zBPJ9qFm/annie-spratt-wgivdx9d-Bd-Q-unsplash.jpg");
  position: relative;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box1,
.box2,
.box3,
.box4 {
  margin-right: 280px;
  width: 10px;
  height: 50px;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
}

.list-item {
  text-decoration: none;
  font-family: "Monoton", cursive;
  font-size: 2em;
  font-weight: 900;
  color: #1e90ff;
}

.box1:hover a,
.box1:hover {
  color: white;
}
.box2:hover a,
.box2:hover {
  color: white;
}

.box3:hover a,
.box3:hover {
  color: white;
}

.box4:hover a,
.box4:hover {
  color: white;
}


.holder4 {
  width: 800px;
  height: 450px;
  margin-top: -205%;
  background-color: #1e90ff;
  font-family: "Audiowide", cursive;
  border-radius: 20%;
}

.holder4:hover a,
.holder4:hover {
  background-color: white;
  color: #1e90ff;
}

.format9 {
  font-family: "Audiowide", cursive;
  padding-left: 2%;
  color: white;
  font-size: 1.7em;
  padding-top: 7%;
}

.format9:hover a,
.format9:hover {
  color: #1e90ff;
}


.format10 {
  font-family: "Audiowide", cursive;
  color: white;
  font-size: 1.8em;
  margin-top: 1%;
  margin-left: 18%;
}


.holder {
  width: 800px;
  height: 250px;
  border: 5px solid #1e90ff;
  margin-top: 210%;
  background-color: white;
  font-family: "Audiowide", cursive;
  border-radius: 15%;
}

.holder:hover a,
.holder:hover {
  border: 1px solid white;
}
.holder2:hover a,
.holder2:hover {
  border: 1px solid white;
}
.holder3:hover a,
.holder3:hover {
  border: 1px solid white;
}

.holder2 {
  width: 800px;
  height: 250px;
  border: 5px solid #1e90ff;
  background-color: white;
  font-family: "Audiowide", cursive;
  border-radius: 15%;
}

.holder3 {
  width: 800px;
  height: 250px;
  border: 5px solid#1e90ff;
  background-color: white;
  font-family: "Audiowide", cursive;
  border-radius: 15%;
}

.resume {
  width: 850px;
  height: 700px;
  margin-top: 230%;
  border: 3px solid#1e90ff;
  background-color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 1.5em;
  border-radius: 10%;
}


.resume1 {
  width: 850px;
  height: 700px;
  margin-top: -80.5%;
  margin-left: 900px;
  border: 3px solid#1e90ff;
  background-color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 1.5em;
  border-radius: 10%;
}

.resume:hover a,
.resume:hover {
  border: 1px solid white;
}

.resume1:hover a,
.resume1:hover {
  border: 1px solid white;
}


.format0 {
  color: #1e90ff;
  font-size: 1.2em;
  margin-left: 3%;
}

.format5 {
  color: #1e90ff;
  font-size: .8em;
  margin-left: 3%;
}

.format4 {
  color: #1e90ff;
  font-size: .8em;
  margin-left: 3%;
}

.format0-5 {

  font-size: .9em;
  margin-left: 3%;
}

.format1 {
  color: #1e90ff;
  font-size: .7em;
}
.format2 {
  color: #1e90ff;
  font-size: 1.2em;
  margin-left: 3%;
}

.format3 {
  color: black;
  font-family: "Libre Baskerville", serif;
  font-size: .6em;
  margin-left: 3%;
}


.format7 {
  margin-left: 30%;
}


.format8 {
  font-family: "Libre Baskerville", serif;
  padding-left: 5%;
}


.btn {
  width: 100px;
  height: 45px;
  background-color: #1e90ff;
  color: white;
  margin-left: 15px;
  font-family: "Audiowide", cursive;
  font-size: 0.8em;
  border-radius: 50%;
}

.btn:hover a,
.btn:hover {
  color: #1e90ff;
  background-color: white;
  border: 1px solid#1e90ff;
}

.btn-two {
  width: 150px;
  height: 75px;
  background-color: #1e90ff;
  color: white;
  margin-left: 15px;
  font-family: "Audiowide", cursive;
  font-size: 0.8em;
  border-radius: 50%;
}

.btn-two:hover a,
.btn-two:hover {
  color: #1e90ff;
  background-color: white;
  border: 1px solid#1e90ff;
}

h1::first-line {
  color: #1e90ff;
}



.form {
  border: 1px solid #1e90ff;
  margin-left: 1%;
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
  background-color: white;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  font-family: "Audiowide", cursive;
}

.form:hover a,
.form:hover{
  border: 1px solid white;
}

.input-title1 {
  font-size: 2.5em;
  width: 80%;
  margin-left:  10%;
  color: #1e90ff;
}
.input-title2 {
  font-size: 2.5em;
  width: 80%;
  margin-top: 5%;
  margin-left:  10%;
  color: #1e90ff;
}

.form-element {
  display: inline-block;
  height: 30px;
  width: 250px;
  margin-left: 12%;
  border: 2px solid#1e90ff;
}

.form-element3 {
  display: inline-block;
  height: 30px;
  width: 250px;
  margin-left: 10%;
  border: 2px solid#1e90ff;
}

.form-element2 {
  display: inline-block;
  height: 30px;
  width: 250px;
  border: 2px solid#1e90ff;
}

.form-element1 {
  display: inline-block;
  margin-left: 13%;
  height: 30px;
  width: 250px;
  border: 2px solid#1e90ff;
  
}


.header_form {
  font-size: 2.5em;
  margin-left: 25%;
}


.btn-secondary {
  width: 200px;
  height: 50px;
  font-size: 1.3em;
  margin-top:  5%;
  margin-left: 35%;
  color: white;
  border: 1px solid #1e90ff;
  background-color:#1e90ff;
}

.btn-secondary:hover {
  background-color: gray;
}




@media (max-width: 966px) {

  html,
  body {
    margin: 0;
    padding: 0;
    width:100%;
    overflow-x:hidden;
  }
  
  
  .paragraph {
    position: absolute;
    width: 450px;
    font-size: 45px;
    color: red;
    margin-left: 40%;
    margin-top: 50%;
    font-family: "Audiowide", cursive;
    background-color: white;
    border-radius: 20%;
   
  }

  .paragraph_two {
    position: absolute;
    width: 400px;
    font-size: 20px;
    color: red;
    margin-left: 40%;
    margin-top: -20%;
    font-family: "Audiowide", cursive;
    background-color: white;
    border-radius: 20%;
    padding-left: 7%;
  }

  
  .para2 {
    font-size: 45px;
    margin-top: -222%;
    color: #1e90ff;
    font-family: "Audiowide", cursive;
  }
  
  .para3 {
    position: absolute;
    font-size: 75px;
    margin-top: -115%;
    color: #1e90ff;
    font-family: "Audiowide", cursive;
  }
  
  .para4 {
    position: absolute;
    font-size: 75px;
    margin-top: -50%;
    color: #1e90ff;
    font-family: "Audiowide", cursive;
  }
  
  .para5 {
    position: absolute;
    font-size: 75px;
    margin-top: -40%;
    color: #1e90ff;
    font-family: "Audiowide", cursive;
  }
  
  .para1 {
    font-size: 45px;
    margin-top: -170%;
    color: #1e90ff;
    font-family: "Audiowide", cursive;
  }
  
  .container {
    position: absolute;
    margin: 20px;
    width: auto;
  }
  
  .text_box {
    position: absolute;
    top: 260px;
    left: 600px;
    color: black;
  }
  .boxes {
    overflow: hidden;
  }
  
  .first_image {
    background-image: url("https://i.postimg.cc/zBPJ9qFm/annie-spratt-wgivdx9d-Bd-Q-unsplash.jpg");
    position: relative;
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .self_image {
    position: absolute;
    border: 5px solid #1e90ff;
    margin-left: 60%;
    margin-top: 145%;
    border-radius: 20%;
    width: 200px;
    height: 250px;
  }
  
  
  .intro {
    position: absolute;
    margin-left: 10%;
    margin-top: 170%;
    border-radius: 10%;
    border: 5px solid #1e90ff;
  }
  
  
  .second_image {
    background-image: url("https://i.postimg.cc/nL0zY04d/ruben-ramirez-xh-KG01-FN2uk-unsplash.jpg");
    position: relative;
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .third_image {
    background-image: url("https://i.postimg.cc/zBPJ9qFm/annie-spratt-wgivdx9d-Bd-Q-unsplash.jpg");
    position: relative;
    height: 1200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .box1,
  .box2,
  .box3,
  .box4 {
    margin-right: 280px;
    width: 10px;
    height: 50px;
    text-align: center;
    padding: 2rem;
    font-size: .5em;
    text-decoration: none;
  }

  
  .holder4 {
    width: 400px;
    height: 150px;
    margin-top: -90%;
    background-color: #1e90ff;
    font-family: "Audiowide", cursive;
    border-radius: 20%;
  }
  
  .format9 {
    font-family: "Audiowide", cursive;
    padding-left: 2%;
    color: white;
    font-size: .7em;
    padding-top: 7%;
  }
  
  
  .format10 {
    font-family: "Audiowide", cursive;
    color: white;
    font-size: 1.8em;
    margin-top: 1%;
    margin-left: 18%;
  }
  
  
  .holder {
    width: 400px;
    height: 175px;
    border: 5px solid #1e90ff;
    margin-top: 280%;
    background-color: white;
    margin-left: 50%;
    font-family: "Audiowide", cursive;
    border-radius: 15%;
  }

  
  .holder2 {
    width: 400px;
    height: 175px;
    border: 5px solid #1e90ff;
    background-color: white;
    margin-left: 50%;
    font-family: "Audiowide", cursive;
    border-radius: 15%;
  }
  
  .holder3 {
    width: 400px;
    height: 175px;
    border: 5px solid#1e90ff;
    margin-left: 50%;
    background-color: white;
    font-family: "Audiowide", cursive;
    border-radius: 15%;
  }
  
  .resume {
    width: 325px;
    height: 250px;
    margin-top: 160%;
    border: 3px solid#1e90ff;
    background-color: white;
    font-family: "Libre Baskerville", serif;
    font-size: .5em;
    border-radius: 10%;
  }
  
  
  .resume1 {
    width: 325px;
    height: 250px;
    margin-top: -69%;
    margin-left: 350px;
    border: 3px solid#1e90ff;
    background-color: white;
    font-family: "Libre Baskerville", serif;
    font-size: 1.5em;
    border-radius: 10%;
  }
  
  .format0 {
    color: #1e90ff;
    font-size: 1.2em;
    margin-left: 3%;
  }
  
  .format5 {
    color: #1e90ff;
    font-size: .8em;
    margin-left: 3%;
  }
  
  .format4 {
    color: #1e90ff;
    font-size: .8em;
    margin-left: 3%;
  }
  
  .format0-5 {
    font-size: .9em;
    margin-left: 3%;
  }
  
  .format1 {
    color: #1e90ff;
    font-size: .7em;
  }
  .format2 {
    color: #1e90ff;
    font-size: 1.2em;
    margin-left: 3%;
  }
  
  .format3 {
    color: black;
    font-family: "Libre Baskerville", serif;
    font-size: .6em;
    margin-left: 3%;
  }
  
  
  .format7 {
    margin-left: 20%;
    font-size: .85em;
  }
  
  
  .format8 {
    font-family: "Libre Baskerville", serif;
    font-size: .65em;
  }
  
  
  .btn {
    width: 100px;
    height: 45px;
    background-color: #1e90ff;
    color: white;
    margin-left: 15px;
    font-family: "Audiowide", cursive;
    font-size: 0.8em;
    border-radius: 50%;
  }
  
  
  .btn-two {
    width: 50px;
    height: 25px;
    background-color: #1e90ff;
    color: white;
    margin-left: 15px;
    font-family: "Audiowide", cursive;
    font-size: 0.8em;
    border-radius: 50%;
  }
}



@media (min-width: 566px) {

}